@import "./popout.scss";

.button {
    display: block;
    font-family: "Syne Mono", monospace;
    padding: 10px;
    background: white;
    border: 2px solid black;
    width: 250px;
    margin: 10px;
    text-transform: capitalize;
    text-transform: lowercase;
    color: black;
    font-size: 15pt;
    //box-shadow: 0 0 white;
    text-decoration: none;
}

/** Social Buttons */
.button.social {
    width: 25px;
    height: 25px;
    text-align: center;
}
.button.social i {
    position: relative;
    line-height: 26px;
    font-size: 20pt;
}

$brand-colors: (
    "itch": #fa5c5c,
    "reddit": #ff5700,
    "nintendo": #e4000f,
    "discord": #7289da,
    "twitch": #6441a5,
    "linkedin": #0072b1,
    "x-twitter": black,
    "twitter": #1da1f2,
    "bluesky": #3985fd,
    "mastodon": #6364ff,
    "playstation": #006fcd,
    "github": black,
    "steam": black
);

$brand-icons: (
    "itch": "itch-io",
    "reddit": "reddit-alien",
    "nintendo": "nintendo-switch",
    "discord": "discord",
    "twitch": "twitch",
    "linkedin": "linkedin-in",
    "twitter": "twitter",
    "x-twitter": "x-twitter",
    "mastodon": "mastodon",
    "bluesky": "bluesky",
    "playstation": "playstation",
    "github": "github-alt",
    "steam": "steam-symbol"
);

@each $name, $class in $brand-icons {
    $color: map-get($brand-colors, $name);

    // Setup the color for the social buttons
    .social-#{$name},
    .social-#{$class} {
        --color: #{$color};
        color: var(--color);

        // Override the box-shadow
        &.popout {
            @include popout(var(--color));
        }

        // Override the border
        &.button {
            border-color: var(--color);
        }
    }

    // Setup the color for the icons themselves
    .fa-#{$class} {
        color: var(--color);
    }
}

.fab.fa-playstation {
    left: -0.1em;
}

.hover-box:hover .social-x-twitter {
    &,
    * {
        $c: map-get($brand-colors, "twitter");
        --color: #{$c};
    }

    .fa-x-twitter {
        mask-image: none;
        background: none;
        &:before {
            content: "\f099" !important;
        }
    }
}
