
@import './popout.scss';

.button {
    display: block;
    font-family: 'Syne Mono', monospace;
    padding: 10px;
    background: white;
    border: 2px solid black;
    width: 250px;
    margin: 10px;
    text-transform: capitalize;
    text-transform: lowercase;
    color: black;
    font-size: 15pt;
    //box-shadow: 0 0 white;
    text-decoration: none;
}

/** Social Buttons */
.button.social {
    width: 25px;
    height: 25px;
    text-align: center;
}
.button.social i {
    position: relative;
    line-height: 26px;
    font-size: 20pt;
}

$brand-colors: ( 
    "itch": #fa5c5c,
    "reddit": #FF5700,
    "nintendo": #E4000F,
    "discord": #7289DA,
    "twitch": #6441a5,
    "twitter": #1DA1F2,
    "playstation": #006FCD,
    "github": black,
    "steam": black,
);

$brand-icons: (
    "itch": "itch-io",
    "reddit": "reddit-alien",
    "nintendo": "nintendo-switch",
    "discord": "discord",
    "twitch": "twitch",
    "twitter": "twitter",
    "playstation": "playstation",
    "github": "github-alt",
    "steam": "steam-symbol",
);

@each $name, $class in $brand-icons {
    $color: map-get($brand-colors, $name);

    // Setup the color for the social buttons
    .social-#{$name},
    .social-#{$class} {
        color: $color;

        // Override the box-shadow
        &.popout {
           @include popout(#{$color});
        }

        // Override the border
        &.button {
            border-color: $color;
        }
    }

    // Setup the color for the icons themselves
    .fa-#{$class}
    {
        color: $color;
    }
}

.fab.fa-playstation {
    left: -0.1em;
}