
* { 
    padding: 0;
}

@import './fontawesome.scss';
@import './fonts.scss';
@import './button.scss';
@import './flags.scss';
@import './popout.scss';

$profile-image-url: 'https://d.lu.je/avatar/embed/lachee?size=1024' !default;
$email-address: '' !default;

template { display: none !important; }
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 

    position: fixed;
    width: 100%;
    height: 100%;
    overflow: none;

    $color-from:  rgb(238, 233, 174);
    $color-to:  rgb(233, 148, 187);

    background: $color-to;
    background: linear-gradient(321deg, $color-from 0%, $color-to 100%);
}
ul {
    padding-left: 2em;
    padding-right: 2em;
    line-height: 1.5em;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 50%;
    float: left;
    height: 100%;

    &.column-right {
        width: 40%;
        float: right;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
        background-attachment: fixed;
        transition: width 0.5s ease-in-out, background-size 0.5s ease;

        &:hover, &.extend {
            width: 42%;
             /* filter: blur(1px); <- This apparently fucks up the preview-image's width ????? */

            $static-alpha: 0.8;
            $static-url: url('~images/static.gif');

            // We wish tos how the static response
            background: 
                linear-gradient(135deg, rgba(255, 255, 255, $static-alpha), rgba(255, 255, 255, $static-alpha)),  
                $static-url;
            background-size: cover;
            background-attachment: fixed;

            // We only want the peview-image to be visible while we are extended.
            .preview-image.visible { opacity: .9; }
            .preview-video.visible { opacity: .9; }
        }

        .preview-image, .preview-video {
            $fade-time: 0.75s;

            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            z-index: -1;

            opacity: 0;
            transition: opacity $fade-time;

            &.hidden { display: none; opacity: 0; }
            &.loading {
                display: block;
                top: 0; left: 0;
                width: 100px; height: 100px;
                position: fixed;
            }
        }
        .preview-video { width:  unset; }
    }

    // &.column-left { }
}

.graph-paper {
    background: white;
    background-position: 10px 25px;
    background-size: 60px 60px;
    background-image:
        linear-gradient(to right, #e2e2e2  2px, transparent 2px),
        linear-gradient(to bottom, #e2e2e2  2px, transparent 2px);
        
}

/*
// Content is now just a wrapper
.main-content {
    position: fixed;
    top: 23%;
    left: 23%;
    transition: left 1s ease;

    @media only screen and (max-width: 1400px) {
		left: 3%;
	}

}
*/

#main-window {
    top: 25%;
    left: 25%;
    position: absolute;
}


.link-content { 
    margin-left: 30%; 
    margin-top: 2vh;
    .title {
        margin-top: 10pt;
        font-size: 14pt;
        font-family: 'Poppins';
        font-weight: bold;
        text-shadow: -1px 0px 0px #000000;
        text-decoration: underline wavy;
        color: #7b9eff;
    }
}

/** Special social media box */
.window#about {
    .social-navigation {
        float: left;
    }

    .social-navigation, .special-box {
        display: inline-block;
    }

    .social-image {
        display: flex;
        align-items: center;
        .special-box {
            
            width: 390px;
            height: 340px;
            //transform: rotate(358deg);  // << This method has bad aliasing
            transform: rotate3d(0, 0, 1, 358deg);
            
            video {
                position: relative;
                top: 10px;
            }

            /** This class displays the profile image instead of the video */
            &.profile-image {
                // Set the background
                background-image: url($profile-image-url);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;


                // Hide the video
                video { display: none; }
            }
        }
    }
}

/**
 * Random Shapes
*/
.circle-dot-png, .square-dot-png, .triangle-dot-png  {
    background: white;
    background-size: 30px 30px;
    background-image: linear-gradient(45deg, #e9e9e9 25%, transparent 25%), linear-gradient(-45deg, #e9e9e9 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #e9e9e9 75%), linear-gradient(-45deg, transparent 75%, #e9e9e9 75%);
    background-position: 0 0, 0 15px, 15px -15px, -15px 0px;
    width: 400px;
    height: 400px;

    position: absolute;
    top: -200;
    left: -200;
    z-index: -1;
    
    border: 3px solid black;
    border-radius: 100%;

    display: none;
}
.square-dot-png { 
    border-radius: 0;
    background: rgb(131,58,180);
    background: linear-gradient(314deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 52%, rgba(252,176,69,1) 100%);
    top: -100;
    left: 100;
    width: 200px;
    height: 200px;
}
.circle-dot-sun {
    z-index: 1;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100%;
    background: repeating-linear-gradient(320deg, transparent, transparent 12px, #f5ff0091 10px, #f5ff0091 20px );
    -webkit-mask-image: -webkit-linear-gradient(bottom left, #ff000000 17%, black 75%);
    bottom: -150;
    right: -250;
}

/** Clickering Glow */
.glow {
    animation: flicker 10s ease infinite;
    @keyframes flicker {
        0% { filter: blur(1px) brightness(2) }
        50% { filter: blur(1px) brightness(4) }
        100% { filter: blur(1px) brightness(2) }
    }
}

/** Roles */
.roles {
    .role {
        margin-right: 1em;
        font-family: 'Syne Mono';
        font-size: 13pt;
        &:before {content: '-'; margin-right: 5px; }
    }
    
}

/** Hidden Info */
p.email::after {
    content: $email-address;
}